html, body {
	font-family: 'IM Fell DW Pica SC', serif;	
}
.header {
	float: right;
	position: fixed;
	right: 10px;
}
video {
  	position: fixed;
  	top: 0;
  	left: 0;
  	min-width: 100%;
  	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -1;
}
a:link {
	color: white; 
	background-color:transparent; 
	text-decoration:none; 
}
a {
	margin-right: 4%;
}
h3, h1, h2 {
	text-align: center;
	color: white;
}
.col-sm-12 {
	background-color: white;
}
.food {
	color: black;
	font-size: 25px;
	margin-bottom: 45px;
	background-color: white;
}
.food-item {
	color: orange;
	margin-bottom: 8px;
}
.food-description {
	margin-bottom: 5px;
	font-family: arial;
}